{
  "env": {
    "browser": true,
    "jquery": true,
    "mocha": true,
    "node": true,
    "worker": true,
    "es6": true
  },
  "globals": {
    "APPCONFIG": false
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "overrides": [
        {
          "presets": [
            '@babel/preset-env',
            '@babel/preset-react'
          ]
        }
      ]
    }
  },
  "rules": {
    "no-bitwise": 2,
    "camelcase": 0,
    "curly": 0,
    "eqeqeq": 0,
    "guard-for-in": 0,
    "no-extend-native": 2,
    "wrap-iife": 0,
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1,
        "ignoredNodes": ["TemplateLiteral"]
      },
    ],
    "no-use-before-define": 0,
    "new-cap": 0,
    "no-caller": 2,
    "no-empty": 0,
    "no-irregular-whitespace": 2,
    "no-new": 0,
    "no-plusplus": 0,
    "quotes": 0,
    "no-undef": 2,
    "no-unused-vars": 0,
    "strict": 0,
    "max-params": 0,
    "max-depth": 0,
    "max-statements": 0,
    "complexity": 0,
    "max-len": [
      2,
      {
        "code": 140,
        "ignoreComments": false,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "semi": 2,
    "no-unreachable": 2,
    "no-cond-assign": 0,
    "no-debugger": 0,
    "no-eq-null": 2,
    "no-eval": 0,
    "no-unused-expressions": 0,
    "block-scoped-var": 0,
    "no-iterator": 0,
    "linebreak-style": 0,
    "comma-style": [
      2,
      "last"
    ],
    "no-loop-func": 0,
    "no-multi-str": 2,
    "require-yield": 0,
    "valid-typeof": 0,
    "no-proto": 0,
    "no-script-url": 0,
    "no-shadow": 0,
    "dot-notation": 0,
    "no-new-func": 0,
    "no-new-wrappers": 0,
    "no-invalid-this": 0,
    "keyword-spacing": 1,
    "space-before-function-paren": 1,
    "space-before-blocks": 1
  }
}
